.container .link-left{
    float: left;
    margin-left: 10px;
}

.container .link-right{
    float: right;
    margin-right: 10px;
}

.container .link-middle{
    margin: auto;
}

.picture{
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: yellow;
}

.container h2{
   text-align: center;
}

.profileHeader{
    background-color:#4682B4;
}

.profileHeader button{
    background-color:#4682B4;
    border-color: #4682B4;
}

.profileHeader button:hover{
    background-color: #4682B4;
    border-color: #4682B4;
}

.name-change{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.name-change p{
    margin-bottom: 0;
    padding: 0;
    padding-top: 5px;
    padding-right: 0px;
    text-align: center;
    margin-right: 50px;
}
.name-change input{
    margin-right: 15px;
}

.name-change button{
    width: 60px;
}

@media (min-width: 576px) {
    .container{
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container{
        width: 100%;       
    }
}