/* .header{
    background-color: rgb(64, 151, 151);
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h1{
    display: inline;
}



.middleBtn{
    margin-left: 50%;
    margin-right: 50%;
}

.rightBtn{
    float: right;
} */